@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply bg-gray-900 text-white;
  min-height: 100vh;
  overflow: overlay;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: transparent rgba(255, 255, 255, 0.25);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 8px;
  border: none;
}

.checkerboard {
  background: transparent
    url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" fill-opacity=".25" >\
        <rect x="200" width="200" height="200" />\
        <rect y="200" width="200" height="200" />\
      </svg>');
  background-size: 30px 30px;
}

/* Sheet */

.react-modal-sheet-backdrop {
  @apply !bg-gray-800 !bg-opacity-50 backdrop-filter backdrop-blur-sm;
}
.react-modal-sheet-container {
  @apply !bg-gray-900 !shadow-none !rounded-t-3xl;
}
.react-modal-sheet-header {
  /* custom styles */
}
.react-modal-sheet-drag-indicator {
  /* custom styles */
}
.react-modal-sheet-content {
  /* custom styles */
}
